@model IEnumerable<AutoPartsStore.Models.Category>

<nav class="category-menu mb-5">
    <div class="nav">
        @foreach (var cat in Model)
        {
            <a class="nav-link"
               asp-controller="Products"
               asp-action="Category"
               asp-route-categoryId="@cat.CategoryID"
               asp-route-id="@cat.CategoryID">
                @cat.CategoryName
            </a>
        }
    </div>
</nav>
